@mixin form($type,$width,$border-width){
  width: $width;
  height: 44px;
  background-color: $white;
  @if($type==normal or $type==empty){
    border: 1px solid $divider;
  }
  @else if($type==normal){
    border: 2px solid $divider;
  }
  @else if($type==reqired){
    border: 2px solid $main-color-2;
  }
  @else if($type==error){
    border: 1px solid $main-color-2;
  }
  @else if($type==success){
    border: 1px solid #27AE60;
  }
  padding-left: 15px;
  color: $black-2;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  &::placeholder{
    color: $divider;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  +p{
    width: $width;
    min-height: 35px;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    @if($type==empty){
      background-color: $light-blue-hover;
      padding-left: 16px;
      color: $black-2;
    }
    @else if($type==required){
      color: $main-color-2;
    }
    @else if($type==error){
      background-color: #FFE3E3;;
      color: $black-2;
      padding-left: 16px;
    }
    @else if($type==success){
      background-color: #E3FFE9;
      color: $black-2;
      padding-left: 16px;
    }
  }
}
div.form-parent{
  @each $states in "normal","empty","required","error","success"{
    .form-#{$states}{
      @include form($states,400px,1px)
    }
  }
}
