*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  &::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  &::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
}
a{
  text-decoration: none;
}
body{
  max-width: 1920px;
  margin: 0 auto;
}